# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Django specific
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
*.secret
*.key

# IDE / Editor junk
.idea/
.vscode/
*.swp
.DS_Store

# Compiled / cache
*.egg-info/
.eggs/
*.lock
